doctype html
html
    head
        title Dazzle Dance
        block scripts
        block style
    body
        block content
        footer#footer
            | Copyright &copy 2024 DazzleDance.com | All Rights Reserved
